<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="style.css">
    <head>
        <title>Burak Atak 3199405</title>
    </head>
    <body>
        <header>
            <div class="personal">
                <h1><a href="index.html">Burak Atak</a> </h1>
                <h2>3199405</h2>
            </div>
            <nav>
                <ul>
                    <li><a href="index.html">Index</a></li>
                    <li><a href="food.html">Food Recipe</a></li>
                </ul>
            </nav>
        </header>
		<main>
			<div class="personalProfile">
				<div class="personalPicture">
					<p><img src="Images/CV Burak Atak.jpg" alt="Personal Picture"></p>
				</div>
				<h2>Welcome to my Site for Week 3</h2>
				<p>Hello my name is Burak Atak I am from Turkey. I am an undergraduate from Eski;ehir Osmangazi Universty I studied English teaching
                for four years. I have been living in Ireland for two months now and I am enjoying it here.
                </p>
				<p>I enjoy coding and riding motorcycles I am planning to get my driving license for Ireland. My favuirite food is Doner Kebab.</p>
			</div>
		</main>
        <footer>
            <p>Burak Atak 3199405</p>
            <div class="gclink">
            <p><a href="https://www.griffith.ie"><img src="Images/Griffith Logo.png" alt="Logo"></a></p>
            </div>
        </footer>
    </body>
</html>